
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Poppins&display=swap');

*{
    margin:0px;
    padding:0px;
}

:root{
    --font-titulos: 'Montserrat', sans-serif;

    --color-padrao: radial-gradient(#ffffff,#E7CBCB);
    --color-conteudo: #643843;
    --color-rodape: radial-gradient(#ffffff,#E7CBCB, #643843);
}

body{
    overflow-x: hidden;
}
.cabecalho{
    background: #ffffff;
    width: 100vw;
}

.cabecalho_logo{
    width: 5%;
    display: block;
}

.cabecalho_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.cabecalho_menu nav {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-left: 50px;
}

.cabecalho_imagem{
    margin-right: 200px;
    height: 60px;
}
.cabecalho_link{
    padding-right: 8px;
    font-family: var(--font-titulos);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-conteudo);
    text-decoration: none;
}

.principal > img{
    width: 100vw;
    height: 50vh;
}

.principal{
    background: var(--color-padrao);  
    width: 100vw; 
}

.titulo_principal{
    padding: 20px 0 10px 0;
    font-family: var(--font-titulos);
    text-align: center;
    color: var(--color-conteudo);    
}

.conteudo_principal{
    width: auto;
    font-weight: 600;
    line-height: 1.7;
    text-align: justify;
    text-indent: 4em;
    padding: 5px 330px;
    color: var(--color-conteudo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

.mapa{
    background: radial-gradient(#ffffff, #E7CBCB);
    width: 100vw;  
    height: 50vh;
}

.mapa_conteudo{
    width: 890px;
    padding: 10px 0;
    margin:auto;

}


.rodape{
    background: var(--color-rodape);
    width: 100vw;
    height: 40vh;    
}

.rodape_redes_sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rodape_copyright{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #080808;
    margin: 115px 0 0 0;
}













